.git
.env
.env.backup
.env.phpunit
.phpunit.result.cache
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/tests/Browser/console
/tests/Browser/screenshots
npm-debug.log
yarn-error.log
